name: Label Pull Requests

on:
  pull_request_target:
    types: [opened, edited]

jobs:
  label:
    permissions:
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - uses: bcoe/conventional-release-labels@v1.3.1
        with:
          type_labels: |
            {
                "breaking": "breaking-change",
                "feat": "enhancement",
                "fix": "bug"
            }
